.container {
    width: 250px;
    height:  30px;
    border: 1px solid  gray;
    margin-left: 24px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.adultImg{
    width: 25px;
    height: 25px;
    margin-right: 5px;
}
.text {
   
    margin-left: 24px;
    margin-top : 10px;
    margin-bottom: 10px;
}
.wrap {
    width: 260px;
    height:  150px;
    border: 1px solid  gray;
    margin-left: 24px;
    border-radius: 10px;
}
.inpuxText {
    height: 23px;
    width: 23px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top:  5px;
}
.wrapInside {
    margin-right:  10 px;
}
.btn{
    margin-left:  5px;
}
.togglebtn{
    margin-left: 24px;
    border-radius: 10px;
}
